<footer>
    <ul class="wrapper">
        <a href="https://www.linkedin.com/in/joaquín-mayor-495a7a232/" target="_blank" title="Linkedin Joaquin Mayor">
            <li class="icon linkedin">
                <span class="tooltip span">Linkedin</span>
                <span><i class="fab fa-linkedin"></i></span>
            </li>
        </a>
        <a href="https://github.com/JoaquinMayor" target="_blank" title="Github Joaquin Mayor">
            <li class="icon github">
                <span class="tooltip span">Github</span>
                <span><i class="fab fa-github"></i></span>
            </li>
        </a>
    </ul>
    <p>Derechos reservados © Creado por Joaquin Mayor e Ignacio Tosini</p>
    <ul class="wrapper">
        <a href="https://www.linkedin.com/in/ignacio-tosini/" target="_blank" title="Linkedin Ignacio Tosini">
            <li class="icon linkedin">
                <span class="tooltip span">Linkedin</span>
                <span><i class="fab fa-linkedin"></i></span>
            </li>
        </a>
        <a href="https://github.com/IgnacioTosini" target="_blank" title="Github Ignacio Tosini">
            <li class="icon github">
                <span class="tooltip span">Github</span>
                <span><i class="fab fa-github"></i></span>
            </li>
        </a>
    </ul>
</footer>