<section class="containerPrincipal">
    <form class="containerForm" id="containerForm">
        <label for="nombre">Buscar Pokémon:</label>
        <input #nombreInput type="text" id="nombre" name="nombre" placeholder="Ingrese el nombre" (keyup)="filterPokemons(nombreInput.value)">
    </form>
    <ul id="lista" class="lista">
        <a href="./pokemon.html" (click)="viewPokemon(pokemon.id)" *ngFor="let pokemon of pokemonList">
            <li class="pokemon">
              Nombre: {{ pokemon.name }}
              <img [src]= "pokemon.sprites.front_default" alt="Pokemon" />
            </li>
          </a>
    </ul>
</section>