$background-color_1: rgba(187, 164, 211, 0.726);
$background-color_2: antiquewhite;
$background-color_3: wheat;

/* Pokedex */
.containerPrincipal {
    background-color: $background-color_1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    min-height: 100vh;
}

.containerForm {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 2rem;
    background-color: $background-color_2;
    width: 100%;
    max-width: 30rem;
    height: 100%;
    min-height: 3rem;
    max-height: 10rem;
    border-radius: 3%;

    #nombre {
        padding: 0.5rem;
    }

    .btnBuscar {
        padding: 0.5rem;
    }
}

#lista {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: fit-content;
    list-style: none;
    text-align: center;
    overflow-y: auto;
    max-width: 50rem;
    min-width: 33rem;
    max-height: 35rem;
    gap: 1rem;

    .pokemon {
        background-color: $background-color_3;
        width: 100%;
        max-width: 15rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5%;
        margin: 0.3rem;
        transition: all ease 0.5s;

        &:hover {
            transform: scale(1.05);
            cursor: pointer;
        }

        img {
            transition: all ease 1s;

            &:hover {
                transform: scale(1.2);
            }
        }
    }
}