$color_1: #f2f2f2;
$color_2: black;
$background-color_1: #f2f2f2;
$background-color_2: rgba(255, 0, 0, 0.644);
$background-color_3: rgba(2, 2, 2, 0.521);
$background-color_4: rgba(255, 255, 255, 0.836);

.nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.75rem;
    background-color: $background-color_1;
    padding: 0 1.25rem;

    h1 {
        flex-grow: 1;
        text-align: center;
        margin-left: 10rem;
    }

    .bar__menu {
        position: relative;
    }

    .navbar__menu {
        .menuVistaUsuario {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.5rem;

            img {
                width: 3.125rem;
                height: 3.125rem;
                border-radius: 50%;
                cursor: pointer;
                border: 0.125rem solid rgba(255, 0, 0, 0.644);
            }
        }

        .menu-dropdown {
            position: absolute;
            top: 100%;
            right: 0.325rem;
            background-color: $background-color_1;
            list-style-type: none;
            padding: 1rem;
            border-radius: 10%;
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);

            li {
                margin-bottom: 5px;
                transition: all ease 0.8s;
                padding: 0.3rem;
                cursor: pointer;

                &:hover {
                    background-color: $background-color_2;
                }

                &:nth-child(2) {
                    &:hover {
                        background-color: $background-color_3;
                    }

                    a {
                        &:hover {
                            color: $color_1;
                        }
                    }
                }

                &:nth-child(3) {
                    &:hover {
                        background-color: $background-color_4;
                    }
                }
            }

            a {
                color: $color_2;
                text-decoration: none;
            }
        }
    }

    #dropdown.active {
        display: block;
    }
}