$color_1: #f2f2f2;
$color_2: black;
$background-color_1: #f2f2f2;
$background-color_2: rgba(255, 0, 0, 0.644);
$background-color_4: rgba(255, 255, 255, 0.836);

.nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.75rem;
    background-color: $background-color_1;
    padding: 0 1.25rem;
    font-weight: 600;

    h1 {
        flex-grow: 1;
        text-align: center;
        margin-left: 14rem;
        font-size: 1.8rem;
        font-family: 'Pokemon Hollow', 'Pokemon Solid', sans-serif;
        user-select: none;

        img {
            position: relative;
            width: 6.125rem;
            top: 0.6rem;
            pointer-events: none;
        }
    }

    @media screen and (max-width: 668px) {
        margin-left: 0;
    }

    .navbar_menuSinLog {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2.5rem;

        a {
            color: $color_2;
            text-decoration: none;
            cursor: pointer;
            font-family: 'Pokemon Hollow', 'Pokemon Solid', sans-serif;
            transition: all 0.5s ease;

            &:hover {
                color: $background-color_2;
            }
        }
    }

    .bar__menu {
        position: relative;
    }

    .navbar__menu {
        .menuVistaUsuario {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.5rem;

            img {
                width: 3.125rem;
                height: 3.125rem;
                border-radius: 50%;
                cursor: pointer;
                border: 0.125rem solid rgba(255, 0, 0, 0.644);
            }
        }

        .menu-dropdown {
            position: absolute;
            top: 100%;
            right: 0.325rem;
            background-color: $background-color_1;
            list-style-type: none;
            padding: 1rem;
            border-radius: 10%;
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
            max-height: 0;
            visibility: hidden;
            overflow: hidden;
            transition: max-height 1.3s ease, visibility 1s ease;

            li {
                margin-bottom: 5px;
                transition: background-color 0.3s ease;
                padding: 0.3rem;
                cursor: pointer;
                border-radius: 1rem;
                text-align: center;

                &:hover {
                    background-color: $background-color_2;
                }

                &:nth-child(2) {
                    &:hover {
                        background-color: $background-color_4;
                    }
                }

                button {
                    border: none;
                    background: none;
                    cursor: pointer;
                }
            }

            @media screen and (max-width: 668px) {
                position: static;
            }
        }

        @media screen and (max-width: 668px) {
            position: static;
            max-height: initial;
            visibility: visible;
            overflow: visible;
            box-shadow: none;
            border-radius: 0;
            padding: 0;

            li {
                margin-bottom: 10px;
            }
        }
    }

    a {
        color: $color_2;
        text-decoration: none;
        font-family: 'Pokemon Hollow', 'Pokemon Solid', sans-serif;
    }

    .active {
        max-height: 1000px !important;
        visibility: visible !important;
    }

    @media screen and (max-width: 668px) {
        flex-direction: column;
        height: auto;

        h1 {
            margin-left: 0;
            margin-bottom: 1rem;
        }

        .navbar_menuSinLog {
            flex-direction: column;
            gap: 1.5rem;
        }
    }
}