<section class="containerAyudas">
    <ul *ngFor="let poke of pokeUsados" class="contenedorAyudas">
        <li>Tipo 1
            <p class="contenedorLetra">{{poke.getType1}}</p>
        </li>
        <li>Tipo 2
            <p class="contenedorLetra">{{poke.getType2}}</p>
        </li>
        <li>Peso
            <img src="" alt="">
        </li>
        <li>Altura
            <img src="" alt="">
        </li>
        <li>Estadistica Destacada
            <p class="contenedorLetra"><!-- {{poke.getStat}} --></p>
        </li>
    </ul>
</section>