<section class="mainWordle">
    <section class="containerPrincipal" *ngIf="show === false; else game">
        <app-generation (generationSelected)="generationSelected($event)"></app-generation>
        <button (click)="showGame()">Aceptar</button>
    </section>

    <ng-template #game>
        <section class="containerTodoWordle">
            <section class="containerDataWordle">
                <section class="life">
                    <p class="numlife">{{lives}}</p>
                    <img src="../../../assets/heart.gif" alt="vidas">
                </section>
                <div class="containerPokemon">
                    <img [src]="imgPokemon" alt="Pokemon" class="imgPokemonGuess">
                </div>
                <section class="containerInputBtn">
                    <section class="containerInputList">
                        <input #nombreInput type="text" [(ngModel)]="namePokemon"
                            (input)="filterPokemons(nombreInput.value)" (keydown.enter)="searchPokemon()"
                            placeholder="Ingresa el nombre del pokemon">
                        <ul id="lista" class="lista" *ngIf="nombreInput.value != ''">
                            <li *ngFor="let pokemon of filteredList" class="pokemon">
                                <span class="nombre" (click)="selectPokemon(pokemon.getName)">{{ pokemon.getName
                                    }}</span>
                            </li>
                        </ul>
                    </section>
                    <button (click)="searchPokemon()">Adivinar</button>
                </section>
                <section class="errorWords">
                    <ul>
                        <li *ngFor="let word of words">{{ word }}</li>
                    </ul>
                </section>
            </section>
            <section class="correctWords">
                <ul>
                    <li *ngFor="let image of guessed">
                        <img [src]="image" alt="Pokemon">
                    </li>
                </ul>
            </section>
        </section>
        <div class="overlay" *ngIf="showFinish == true">
            <div class="containerFinish">
                <p>Usted a perdido, el pokemon era {{this.guessPokemon.getName}}</p>
                <button (click)="finishGame()">Aceptar</button>
            </div>
        </div>
    </ng-template>
</section>