<section class="containerPrincipal" *ngIf="show === false; else game">
    <app-generation (generationSelected)="generationSelected($event)"></app-generation>
    <button (click)="showGame()">Aceptar</button>
</section>
<button (click)="startGame()" *ngIf="guessPokemon.getId === 0 && showButton">Start</button>

<ng-template #game>
    <section class="containerTodoWordle">
        <section class="containerDataWordle">
            <section class="life">
                <p class="cantLife">{{lives}}</p>
                <img src="../../../assets/heart.gif" alt="vidas">
            </section>
            <section class="containerInputBtn">
                <section class="containerInputList" *ngIf="badFinish== false && goodFinish==false">
                    <input #nombreInput type="text" id="pokemon" name="pokemon"
                        placeholder="Ingrese el nombre del pokemon" [(ngModel)]="namePokemon"
                        (input)="filterPokemons(nombreInput.value)" (keydown.enter)="validateGlobal()">
                    <ul id="lista" class="lista" *ngIf="nombreInput.value != ''">
                        <li *ngFor="let pokemon of filteredList" class="pokemon">
                            <span class="nombre" (click)="selectPokemon(pokemon.getName)">{{ pokemon.getName }}</span>
                        </li>
                    </ul>
                </section>
                <button (click)="validateGlobal()" *ngIf="badFinish== false && goodFinish==false">Probar</button>
            </section>
        </section>

        <section class="containerWorleFacil">
            <section id="container" name="container" class="subContainer">
                <ul class="contenedorPalabraCompleta">
                    <li *ngFor="let letter of guessPokemon.getName.split('')" class="contenedorLetra"></li>
                </ul>
                <ul *ngFor="let word of words.slice(0, limit), let u = index" class="contenedorPalabraCompleta"
                    [ngClass]="resetValidation()">
                    <li *ngFor="let letter of word.split(''); let i = index" [ngClass]="wordColor(letter,i,u)"
                        class="contenedorLetra">{{letter}}</li>
                </ul>
            </section>
        </section>
        <section class="containerAyudas">
            <app-helps *ngFor="let stat of pokeUsados.slice(0, limit)" [stat]="stat"
                [pokemon]="guessPokemon"></app-helps>
        </section>
    </section>

    <div class="overlay" *ngIf="goodFinish == true">
        <div class="containerFinish">
            <p>¡Felicidades, el pokemon era {{this.guessPokemon.getName}} !</p>
            <button (click)="confirm()">Aceptar</button>
        </div>
    </div>

    <div class="overlay" *ngIf="badFinish == true">
        <div class="containerFinish">
            <p>Usted a perdido, el pokemon era {{this.guessPokemon.getName}}</p>
            <button (click)="confirm()">Aceptar</button>
        </div>
    </div>
</ng-template>