<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PokeWordle</title>
</head>

<body>
  <header>
    <app-navbar></app-navbar>
  </header>

  <main>
    <section class="containerPrincipalIndex">
      <a routerLink="/">Wordle Dificil</a>
      <a routerLink="/wordleFacil">Wordle Facil</a>
      <a routerLink="/">Wordle Imagenes</a>
      <a routerLink="/pokedex">Pokedex</a>
    </section>
  </main>

  <app-footer></app-footer>
</body>

</html>

<router-outlet></router-outlet>