<section class="containerCreacionUsuario">
    <form #f="ngForm" (ngSubmit)="f.form.valid && addUser(f)">
        <fieldset>
            <legend title="Creacion de Usuario">Creación de Usuario</legend>
            <label for="name">Nombre:</label>
            <input type="text" name="name" id="name" placeholder="Ingrese su Nombre de Usuario" title="Ingrese su Nombre" ngModel required>
            <label for="password">Contraseña</label>
            <input type="password" name="password" id="password" placeholder="Ingrese su Contraseña" title="Ingrese su Contraseña" ngModel required>

            <div class="desplegable">
                <h3>Seleccione una foto de Perfil:</h3>
                <button (click)="show($event)" class="btn" alt="Opciones" title="Opciones">Opciones</button>
                <div *ngIf="view == true" class="galeriaFotos">
                    <div *ngFor="let photo of photos">
                        <img [src]="photo" alt="Foto Perfil" title="Foto Perfil" (click)="onPhotoSelected(photo)" class="border-animation">
                    </div>
                </div>
            </div>
            <div *ngIf="selectedPhoto!='' ">
                <h4>Foto Seleccionada:</h4>
                <img [src]="selectedPhoto" alt="Foto Seleccionada" title="Foto Seleccionada" class="fotoSeleccionada">
            </div>

            <input value="Registrarse" type="submit" class="btn" alt="Registrarse" title="Registrarse">
        </fieldset>
    </form>
</section>