<section class="containerModifyUser">
    <section class="containerModifyUserNamexPassword">
        <h2>Nombre: {{user.getName}}</h2>
        <button (click)="showName()"></button>
    </section>

    <div *ngIf="viewName" class="containerNamexpassword">
        <input type="text" [(ngModel)]="name" placeholder="Nuevo Nombre">
        <button (click)="changeName()">Cambiar</button>
    </div>

    <section class="containerModifyUserNamexPassword">
        <h2>Contraseña: {{user.getPassword}}</h2>
        <button (click)="showPassword()"></button>
    </section>

    <div *ngIf="viewPassword" class="containerNamexpassword">
        <input type="password" [(ngModel)]="password" placeholder="Nueva Contraseña">
        <button (click)="changePassword()">Cambiar</button>
    </div>

    <div class="desplegable">
        <img [src]="user.getPhoto" alt="Foto de Perfil">
        <button (click)="showPhoto()" class="btn">Opciones</button>
        <div *ngIf="viewPhoto == true" class="galeriaFotos">
            <div *ngFor="let photo of photos">
                <img [src]="photo" alt="Foto Perfil" (click)="onPhotoSelected(photo)" class="border-animation">
            </div>
        </div>
    </div>

    

    <section class="containerScore">
        <h2>Puntuación Imagenes: {{user.getImageScore}}</h2>

        <h2>Puntuación Wordle Difícil: {{user.getHardScore}}</h2>

        <h2>Puntuación Wordle Fácil: {{user.getEasyScore}}</h2>
    </section>
</section>