<section [ngClass]="{'modalRegiones': getRouter()=='/wordleFacil' || getRouter()=='/wordleDificil'}">
  <select name="generation" [(ngModel)]="generation" (change)="choiceGeneration($event)">
    <option value="">Generacion a seleccionar</option>
    <option value="1">1° Generación</option>
    <option value="2">2° Generación</option>
    <option value="3">3° Generación</option>
    <option value="4">4° Generación</option>
    <option value="5">5° Generación</option>
    <option value="6">6° Generación</option>
    <option value="7">7° Generación</option>
    <option value="8">8° Generación</option>
    <option value="9">9° Generación</option>
  </select>
</section>