$color_1: black;
$background-color_1: #f2f2f2f3;
$background-color_2: #8f8e8e;

.containerMenuOpcionesHome {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    font-weight: 600;

    .containerPrincipalIndex {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        max-width: 50rem;

        a {
            display: flex;
            justify-content: center;
            background-color: $background-color_1;
            padding: 4rem 2rem;
            margin: 2rem;
            width: 15rem;
            border-radius: 5%;
            transition: all ease 0.6s;
            text-decoration: none;
            color: $color_1;
            transition: all ease 1.6s;

            &:hover {
                transform: scale(1.1);
                background-size: cover;
                border-radius: 20%;
                cursor: pointer;
            }
        }

        .wordleFacil:hover {
            background-image: url('/assets/backGrounds/charizardFondo.png');
        }

        .wordleDificil:hover{
            background-image: url('/assets/backGrounds/arceusFondo.png');
        }

        .wordleImagen:hover{
            background-image: url('/assets/backGrounds/mewTwoFondo.png');
        }

        .pokedex:hover{
            background-image: url('/assets/backGrounds/pokedexFondo.webp');
        }
    }
}