<section class="mainWordle">
    <app-word-game></app-word-game>
    <section class="containerAyudas">
        <ul class="contenedorAyudas">
            <li>Tipo 1
                <p class="contenedorLetra verde">{{pokemon.getType1}}</p>
            </li>
            <li>Tipo 2
                <p class="contenedorLetra">{{pokemon.getType2}}</p>
            </li>
            <li>Peso
                <img src="" alt="">
            </li>
            <li>Altura
                <img src="" alt="">
            </li>
            <li>Estadistica Destacada
                <p class="contenedorLetra rojo">Vel</p>
            </li>
        </ul>
    </section>
</section>