<section class="mainWordle">
    <section class="modalRegiones containerPrincipal" *ngIf="show === false; else game">
        <select name="" id="" aria-placeholder="Generacion a seleccionar" [(ngModel)]="generation" (change)="choiceGeneration($event)">
            <option value="">Generacion a seleccionar</option>
            <option value="1">1° Generación</option>
            <option value="2">2° Generación</option>
            <option value="3">3° Generación</option>
            <option value="4">4° Generación</option>
            <option value="5">5° Generación</option>
            <option value="6">6° Generación</option>
            <option value="7">7° Generación</option>
            <option value="8">8° Generación</option>
            <option value="9">9° Generación</option>
        </select>
        <button (click)="showGame()">Aceptar</button>
    </section>

    <ng-template #game>
    <section class="containerWorleFacil">
        <section class="subContainer">
            <input type="text" placeholder="Escribir nombre del Pokemon">
            <ul class="contenedorPalabraCompleta">
                <li class="contenedorLetra">z</li>
                <li class="contenedorLetra">u</li>
                <li class="contenedorLetra naranja">b</li>
                <li class="contenedorLetra">a</li>
                <li class="contenedorLetra verde">t</li>
            </ul>
        </section>
        <ul class="contenedorAyudas">
            <li>Tipo 1
                <p class="contenedorLetra verde">Volador</p>
            </li>
            <li>Tipo 2
                <p class="contenedorLetra">Veneno</p>
            </li>
            <li>Peso
                <img src="" alt="">
            </li>
            <li>Altura
                <img src="" alt="">
            </li>
            <li>Estadistica Destacada
                <p class="contenedorLetra rojo">Vel</p>
            </li>
        </ul>
    </section>
</ng-template>
</section>