<section class="mainWordle">
    <section class="modalRegiones containerPrincipal" *ngIf="show === false; else game">
        <app-generation (generationSelected)=" generationSelected($event)"></app-generation>
        <button (click)="showGame()">Aceptar</button>
    </section>
    

    <app-word-game [generation]="generation"></app-word-game>

    <ng-template #game>
    <section class="containerWorleFacil">
        <section class="subContainer">
            <input type="text" placeholder="Escribir nombre del Pokemon">
            <ul class="contenedorPalabraCompleta">
                <li class="contenedorLetra">z</li>
                <li class="contenedorLetra">u</li>
                <li class="contenedorLetra naranja">b</li>
                <li class="contenedorLetra">a</li>
                <li class="contenedorLetra verde">t</li>
            </ul>
        </section>
        <ul class="contenedorAyudas">
            <li>Tipo 1
                <p class="contenedorLetra verde">Volador</p>
            </li>
            <li>Tipo 2
                <p class="contenedorLetra">Veneno</p>
            </li>
            <li>Peso
                <img src="" alt="">
            </li>
            <li>Altura
                <img src="" alt="">
            </li>
            <li>Estadistica Destacada
                <p class="contenedorLetra rojo">Vel</p>
            </li>
        </ul>
    </section>
</ng-template>
</section>