<main class="mainUniquePokemon">
    <section id="cuerpo">
        <div class="subContainer">
            <div id="cabecera-datos">
                <h3 id="nombre">{{pokemon.getName}}</h3>
                <p id="descripcion">{{pokemon.getDescription}}</p>
            </div>
            <ul class="containerRegion-Huevo">
                <li id="region">Generacion
                    <p>{{pokemon.getGeneration}}</p>
                </li>
                <li id="groupEgg">Grupo Huevo
                    <p>{{pokemon.getEggGroup}}</p>
                </li>
            </ul>
        </div>

        <div class="containerStats">
            <ul id="stats">
                <li id="vida">Vida: {{pokemon.getHp}}</li>
                <li id="ataque">Ataque: {{pokemon.getAtk}}</li>
                <li id="defensa">Defensa: {{pokemon.getDefense}}</li>
                <li id="ataque-especial">Ataque Especial: {{pokemon.getSpecialAtk}}</li>
                <li id="defensa-especial">Defensa Especial: {{pokemon.getSpecialDef}}</li>
                <li id="velocidad">Velocidad: {{pokemon.getSpeed}}</li>
            </ul>
        </div>
    </section>

    <section class="sectionImgUniquePokemon">
        <div id="imagen-tipo">
            <img id="foto" [src]="pokemon.getFrontSprite">
            <ul id="lista-tipo">
                <li>{{pokemon.getType1}}</li>
                <li>{{pokemon.getType2}}</li>
            </ul>
        </div>
    </section>
</main>