<section id="cuerpo">
    <div id="cabecera-datos">
        <h3 id="nombre"></h3>
        <p id="descripcion"></p>
    </div>

    <div id="imagen-tipo">
        <img id="foto">
        <ul id="lista-tipo"></ul>
    </div>
</section>

<section id="region-stats">
    <ul id="regiones"></ul>

    <ul id="stats">
        <li id="vida">Vida: </li>
        <li id="ataque">Ataque: </li>
        <li id="defensa">Defensa: </li>
        <li id="ataque-especial">Ataque Especial:</li>
        <li id="defensa-especial">Defensa Especial:</li>
        <li id="velocidad">Velocidad: </li>
    </ul>
</section>