// Define los colores de la paleta de Pokémon
$colorFondoPrincipal: #F0FFF0;
$colorContenedor: #fffaf0c7;
$colorSubContenedor: #F0FFFF;

.mainUniquePokemon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    font-weight: 600;

    #cuerpo {
        display: flex;
        flex-direction: column;
        min-width: 60vw;
        max-width: 70vw;
        min-height: 30rem;

        .subContainer {
            display: flex;
            align-items: center;

            #cabecera-datos {
                display: flex;
                flex-direction: column;
                margin: 1.5rem;
                background-color: $colorContenedor;
                border-radius: 5%;

                h3 {
                    border-bottom: 2px solid #ff0e0e;
                    width: 100%;
                    max-width: 30vw;
                    margin-left: 1rem;
                }

                p {
                    border-radius: 5%;
                    margin: 0.5rem;
                    padding: 0.5rem;
                    max-width: 50vw;
                }
            }

            .containerRegion-Huevo {
                display: flex;
                flex-direction: column;
                width: fit-content;
                background-color: $colorContenedor;
                min-width: 10vw;
                padding: 0.5rem;
                border-radius: 5%;
                gap: 1rem;
                list-style: none;
            }
        }

        .containerStats {
            margin-left: 2rem;
            background-color: $colorContenedor;
            padding: 2rem;
            border-radius: 5%;

            #stats {
                list-style: none;
                display: grid;
                grid-template-columns: 1fr 1fr;
            }
        }
    }

    .sectionImgUniquePokemon {
        display: flex;
        flex-direction: column;
        padding: 2rem;
        min-height: 30rem;

        #imagen-tipo {
            #foto {
                border-radius: 30%;
                min-width: 15rem;
                max-width: 40rem;
                background-color: #87ceeb82;
            }

            #lista-tipo {
                display: flex;
                gap: 2rem;
                justify-content: space-around;
                list-style: none;

                li {
                    background-color: rgba(135, 206, 235, 0.5098039216);
                    border-radius: 10%;
                    padding: 0.5rem 1.5rem;
                }
            }
        }
    }
}